#        ____()()     NetRat v0.1
#       /      @@     ~~~~~~~~~~~
# `~~~~~\_;m__m._>o   A Go hack
#
# Coded in July 2024, between Italy and Australia (34,138 km).
# Copyright © 2024 Giovanni Squillero <giovanni.squillero@polito.it>
# Released for educational and academic purposes under 0BSD.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Idea
.idea

# MacOS
.DS_Store
