#        ____()()     NetRat v0.1
#       /      @@     ~~~~~~~~~~~
# `~~~~~\_;m__m._>o   Yet another little Go experiment
#
# Copyright © 2024 Giovanni Squillero <giovanni.squillero@polito.it>
# This code is being released for EDUCATIONAL and ACADEMIC purposes.
# +----------------------------------------------------------------+
# | <=*=> COMMERCIAL USE OF THE CODE IS EXPRESSLY PROHIBITED <=*=> |
# +----------------------------------------------------------------+
# The code is made available "AS-IS" without any express or implied
# guarantees such as fitness, merchantability, or non-infringement.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Idea
.idea

# MacOS
.DS_Store
